<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    
   
    <!-- 测试环境+开发环境. 多个使用逗号隔开. -->
     <springProfile name="test,dev">
		  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
		      <encoder>  
		          <pattern>  
		              [ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n  
		          </pattern>  
		          <charset>GBK</charset> <!-- 此处设置字符集 -->  
		      </encoder>  
		    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">  
		      <level>INFO</level>  
		    </filter>  
		  </appender>
		  
		   <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		    <encoder>  
		        <pattern>  
		            [ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n  
		        </pattern>  
		        <charset>UTF-8</charset> <!-- 此处设置字符集 -->  
		    </encoder>  
		    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
		      <fileNamePattern>${catalina.home}/logs/springboot-war-log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
		     <!--  <fileNamePattern>${catalina.home}/logs/springboot-war-log-%d{yyyy-MM-dd}.%i.log</fileNamePattern> -->
		      <timeBasedFileNamingAndTriggeringPolicy  
		          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
		        <maxFileSize>64 MB</maxFileSize>  
		      </timeBasedFileNamingAndTriggeringPolicy>  
		    </rollingPolicy>
		    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">  
		     <level>INFO</level>
		    </filter>  
		  </appender>
		 <root level="INFO">  
		   <appender-ref ref="STDOUT" />
		   <appender-ref ref="FILE" />
		 </root>
	 	<!-- <logger name="org.springframework.web" level="INFO"/>
    	<logger name="org.springboot.sample" level="TRACE" /> -->
    
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="org.springboot.sample" level="INFO" />
        <logger name="com.hy" level="INFO" />
    </springProfile>
 
   
    <!-- 生产环境 日志输出到. -->
    <springProfile name="prod">
    	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		    <encoder>  
		        <pattern>  
		            [ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n  
		        </pattern>  
		        <charset>UTF-8</charset> <!-- 此处设置字符集 -->  
		    </encoder>  
		    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
		      <fileNamePattern>${catalina.home}/logs/springboot-war-log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
		      <timeBasedFileNamingAndTriggeringPolicy  
		          class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
		        <maxFileSize>64 MB</maxFileSize><!-- max 64MB -->
		        <maxHistory>30</maxHistory><!-- 30 days -->  
		      </timeBasedFileNamingAndTriggeringPolicy>  
		    </rollingPolicy>
		    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">  
		     <level>WARN</level>
		    </filter>  
		  </appender>
		  
		  <root level="WARN">
            <appender-ref ref="FILE" />
        </root>
        <logger name="org.springframework.web" level="WARN"/>
        <logger name="org.springboot.sample" level="WARN" />
        <logger name="com.hy" level="WARN" />
        <!--即将 mapper 接口打入logger就行。
		<logger name="com.hy.mapper" level="DEBUG"></logger>-->
        
    </springProfile>
   
</configuration>